.page-edit-profile {
    &.content {
        background-color: $white;
    }

    .user-profile {
        display: block;
        width: 128px;
        height: 128px;
        margin: auto;
        margin-top: 20px;
        border: 1px solid $white;
    }
}
