page-edit-profile {

    .image-container {
        width: 128px;
        height: 128px;
        margin: auto;
        background-color: blue;
        margin-top: 20px;
        border-radius: 50%;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
