page-edit-profile {

    .image-container {
        width: 128px;
        height: 128px;
        margin: auto;
        background-color: blue;
        margin-top: 20px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
