.page-house-setup {
    background: linear-gradient(to bottom right, #2b618c, #3a85bf, #1bbcb1);

    .house-setup-landing-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2.5rem;

        .logo {
            max-width: 100%;
            margin-bottom: 6rem;
        }

        .section-landing,
        .section-join,
        .section-create {
            display: flex;
            flex-direction: column;
            text-align: center;

            button {
                text-transform: none;
            }

            form {
                display: flex;
                flex-direction: column;
            }

            h1 {
                font-size: 2.25rem;
                color: $text-white;
                margin: 2rem 0;
            }

            ion-list {
                margin-bottom: 2rem;
            }

            p {
                margin: 0;
            }

            .description {
                color: $text-white;
                text-align: center;
                margin-bottom: 2rem;
            }
        }
    }
}
