<div class="chore-card">

    <div class="left-content-box">
        <div class="left-content" [ngClass]="color">
            <div class="due-text">
                {{ chore.currentDueDay.date | date: 'EEEE' }}
            </div>
            <div class="left-center">

                <div *ngIf="isMyChore" class="check" (click)="markDone(chore.id)">
                    <ion-icon *ngIf="!done" name="checkmark-circle-outline" md="ios-checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="done" name="checkmark-circle" md="ios-checkmark-circle"></ion-icon>
                </div>

                <img *ngIf="!isMyChore" class="primary profile-image-circle" src="{{ imageService.profileUrlMap[chore?.currentAssigned.uid] ? imageService.profileUrlMap[chore?.currentAssigned.uid] : profileImageDefault }}">
            </div>
            <div class="due-text">
                {{ chore.currentDueDay.date | date: 'MMM d' }}
            </div>
        </div>
    </div>

    <div class="main-content-box">
        <div class="chore-title">{{ chore?.title }}</div>
        <div class="assignees">
            <div class="current">{{ chore?.currentAssigned.name }}</div>
            <div class="upcoming">
                <!-- refactor, maybe add separate array of actual order with uids in chore data from backend and bind to imageservice? -->
                <div class="cycle-row">
                    <ion-icon *ngIf="chore?.upcoming.length" name="arrow-round-back" md="ios-arrow-round-back"></ion-icon>
                    <img *ngFor="let user of chore?.upcoming" class="secondary profile-image-circle" src="{{ imageService.profileUrlMap[user.uid] ? imageService.profileUrlMap[user.uid] : profileImageDefault }}">
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="right-content-box">
        <ion-icon name="settings"></ion-icon>
    </div>

</div>