<div class="chore-card">

    <div class="left-content-box">
        <div class="left-content">
            <div class="due-text">
                <div>Finish by</div>
                <div>[day of week]</div>
                <div>[month, date]</div>
            </div>
        </div>
    </div>

    <div class="main-content-box">
        <div class="chore-title">{{ chore?.chore }}</div>
        <div class="assignees">
            <div class="label">Assigned to {{ chore?.cycle[chore?.currentAssigned] }}</div>
            <div class="user-row">
                <!-- refactor, maybe add separate array of actual order with uids in chore data from backend and bind to imageservice? -->
                <img class="primary profile-image-circle" src="{{ sourceProfileUrl(chore?.cycle[chore?.currentAssigned]) }}"> 
                <div class="cycle-row">
                    <ion-icon name="arrow-round-back"></ion-icon>
                    <div class="secondary"></div>
                </div>
            </div>
        </div>
    </div>

</div>