.chore-card {
    display:flex;
    width: 100%;
    height: 125px;
    background-color: $white;
    box-shadow: 6px 4px 13px -1px rgba(0, 0, 0, 0.35);

    .left-content-box {
        display: flex;
        width: 35%;

        .left-content {
            flex-grow: 1;
            display: flex;
            align-items: center;
            padding: 10px 5px 10px 10px;
            background: linear-gradient(to top right, #2b618c, #3a85bf) !important;   

            .due-text {
                color: $white;
                font-size: 12px;

                div:first-child {
                 font-weight: bold;   
                }
            }
        }
    }

    .main-content-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 10px;

        .chore-title {
            font-weight: bold;
        }

        .assignees {
            .label {
                font-size: 12px;
                color: gray;
                margin-bottom: 5px;
            }

            .user-row { 
                display: flex;
                align-items: flex-end;

                .primary {
                    width: 40px;
                    height: 40px;
                }

                .cycle-row {
                    display: flex;
                    align-items: center;

                    ion-icon {
                        margin: 0 5px 0 10px;
                        font-size: 18px;
                    }

                    .secondary {
                        background: blue;
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}
