<div class="chore-card">

    <div class="left-content-box">
        <div class="left-content" [ngClass]="color">
            <div class="due-text">
                {{ chore.currentDueDay.date | date: 'EEEE' }}
            </div>
            <div class="left-center">

                <div *ngIf="isMyChore && !done" class="check" (click)="markDone(chore.id)">
                    <ion-icon name="checkmark-circle-outline" md="ios-checkmark-circle-outline"></ion-icon>
                </div>

                <img *ngIf="!isMyChore && !done" class="primary profile-image-circle" src="{{ imageService.profileUrlMap[chore?.currentAssigned.uid] ? imageService.profileUrlMap[chore?.currentAssigned.uid] : profileImageDefault }}">

                <div *ngIf="done" class="check">
                    <ion-icon name="checkmark-circle" md="ios-checkmark-circle"></ion-icon>
                </div>

            </div>
            <div class="due-text">
                {{ chore.currentDueDay.date | date: 'MMM d' }}
            </div>
        </div>
    </div>

    <div class="main-content-box">
        <div class="chore-title">{{ chore?.title }}</div>
        <div class="assignees">
            <div class="current">{{ chore?.currentAssigned.name }}</div>
            <div *ngIf="chore?.upcoming" class="upcoming">
                <ion-icon  name="arrow-round-back" md="ios-arrow-round-back"></ion-icon>
                <img class="secondary profile-image-circle" src="{{ imageService.profileUrlMap[chore?.upcoming.uid] ? imageService.profileUrlMap[chore?.upcoming.uid] : profileImageDefault }}">   
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="right-content-box" (click)="edit(chore.id)">
        <ion-icon name="settings"></ion-icon>
    </div>

</div>