// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Lato-Regular';
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype'),
  }

ion-content {
    background-color: #F5F5F5;
    font-family: 'Lato-Regular';
}

// Alerts && Error Messages
.alert-message {
    font-size: 14px !important;
} 

.alert-title {
    font-size: 16px !important;
}

.alert-sub-title {
    font-size: 12px !important;
}

.alert-input-text-red {
    input {
        color: red !important;
    }
}

// Main App Header Toolbar
.toolbar {
    .bar-button {
        color: map-get($colors, light) !important;
    }

    .toolbar-background{
        background: linear-gradient(to top, #3a85bf, #15a2bc) !important;   
    }
    
    .toolbar-title {
        color: map-get($colors, light) !important;
        font-weight: 300 !important;
    }
}

// Tabs Bar
.tabbar {
    background: #3a85bf !important;

    .tab-button[aria-selected=true] {
        color: $white;
        background: linear-gradient(to top, rgba(27,188,177,0.25), #3a85bf, transparent) !important;
    }
    .tab-button-icon {
        color: map-get($colors, light) !important;
    }

    .tab-button-text {
        color: map-get($colors, light) !important;
        font-weight: 300 !important;
    }
        
    .tab-highlight {
        background: #1bbcb1 !important;
    }
}

// Images 
.profile-image {
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}