<form [formGroup]="choreForm" (ngSubmit)="submitForm(choreForm.value)" class="list">

    <ion-item class="chore-input-item bottom-margin">
        <ion-label floating>Chore Name:</ion-label>
        <ion-input type="text" formControlName="name" name="name" required></ion-input>
    </ion-item>

    <ion-item class="chore-input-item">
        <ion-label>Day(s) Due:</ion-label>
    </ion-item>
    <div class="checklist-row">
        <div *ngFor="let day of daysDueFC.controls; let i = index">
            <input class="checkbox-hide" type="checkbox" id="{{ days[i].day }}" [formControl]="day" />
            <label for="{{ days[i].day }}" class="check-bubble">{{days[i].day}}</label>
        </div>
    </div>

    <ion-item class="chore-input-item">
        <ion-label>Assign To:</ion-label>
    </ion-item>
    <div class="checklist-row center">
        <div *ngFor="let user of allUsers; let i = index">
            <input type='checkbox' class="checkbox-hide" id="{{ user.uid }}" (click)="setAssignedUsers(assignedFC.controls[i].value, user)"
                [formControl]="assignedFC.controls[i]">
            <label for="{{ user.uid }}" class="check-bubble">{{ user.name }}</label>
        </div>
    </div>

    <div class="chore-cycle-order">
        <span>Cycle Order:</span>
        <div>
            <span *ngFor="let user of assignedUsers; let last = last">{{ user.name }}{{ last ? '' : ', ' }}</span>
        </div>
    </div>

    <hr>

    <button type="submit" block color="primary" ion-button>Submit</button>

</form>