.page-side-menu {
    background: linear-gradient(to bottom right, #2b618c, #3a85bf, #1bbcb1);

    .header {
        height: 150px;
        display: flex;
        align-items: flex-end;
        padding: 2.8rem 0 1.4rem;
        flex-wrap: wrap;

        .titles {
            color: $white;
            font-size: 1.4rem;
            text-align: center;
            width: 100%;

            &.user-name {
                font-size: 2rem;
            }
        }
    }

    .side-menu-content {
        height: 100%;
        width: 100%;
        
        .menu-item {
            color: $white;
            height: 5rem;
            display: flex;
            align-items: center;
            padding-left: 32px;

            &.active {
                font-weight: bold;
                background: linear-gradient(to right, transparent,rgba(255,255,255,0.25) 100%);
            }
        }

        .collapsable {
            background: linear-gradient(to left, transparent, rgba(0,0,0,0.25) 100%);            
            max-height: 0;
            transition: max-height 0.3s cubic-bezier(0,1,0,1);
            overflow: hidden;
            color: $white;

            &.expanded {
                overflow: hidden;
                transition: max-height 0.3s cubic-bezier(1,0,1,0);
                height: auto;
                max-height: 9999px;
            }

            .roommate-list {
                list-style: none;
                margin: 0;
                padding: 12px 24px 12px 48px;                
            }
    
            .roommate-item {
                display: flex;
                align-items: center;
                line-height: 2.5rem;

                &.no-items {
                    line-height: 1.5rem;
                    flex-direction: column;

                    p {
                        margin-top: 0;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .share-code {
                color: $white;
                margin: 0 24px 0 48px;
                padding: 8px 0 12px;           
                border-top: 1px solid $white;
            }

            .settings-container {
                padding: 12px 24px 12px 48px;                
                font-size: 1.25rem;

                .settings-block {
                    display: flex;
                    flex-direction: column;

                    .input-remove {
                        margin-top: 4px;
                        font-size: 1.25rem;
                        color: $white;
                        background: rgba(0,0,0,0.15);

                        .item-inner {
                            border-bottom: none;
                        }

                        ion-label {
                            color: $white;
                        }

                        ion-select {
                            padding-left: 0;
                            text-align: right;
                            flex: 3;
                            max-width: none;
                            align-items: center;

                            .select-icon-inner {
                                color: $white;
                            }
                        }
                    }

                    button {
                        float: right;
                    } 
                }

                .information {
                    font-size: 1rem;
                }
            }
        }  
    }

}
