.page-side-menu {
    background: linear-gradient(to bottom right, #2b618c, #3a85bf, #1bbcb1);

    .header {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        .user-name {
            color: $white;
            font-size: 2rem;
            text-align: center;
        }
    }

    .side-menu-content {
        height: 100%;
        width: 100%;
        
        .list-item {
            color: $white;
            height: 5rem;
            display: flex;
            align-items: center;
            padding-left: 32px;

            &.menu-active {
                font-weight: bold;
                background: linear-gradient(to right, transparent,rgba(255,255,255,0.25) 100%);
            }
        }

        .dark {
            background: linear-gradient(to left, transparent, rgba(0,0,0, 0.25) 100%);
        }

        .roommate-list {
            list-style: none;
            margin: 0;
            padding: 0;
            color: $white;
        }

        .roommate-item {
            display: flex;
            align-items: center;
            padding-left: 48px;
            line-height: 2.5rem;
        }

        .collapsable {
            max-height: 0;
            transition: max-height 0.3s cubic-bezier(0,1,0,1);
            overflow: hidden;

            &.expanded {
                overflow: hidden;
                transition: max-height 0.3s cubic-bezier(1,0,1,0);
                height: auto;
                max-height: 9999px;
              }

          }
          

    }



}
