<ion-content class="page-side-menu">

    <div class="header">
        <div class="user-name">{{ userName }}</div>
    </div>

    <div class="side-menu-content">

        <!-- Roommates -->
        <div class="menu-item" [ngClass]="{'active': activeMenu === 'Roommates'}" (click)="selectMenu('Roommates')">
            Roommates
        </div>
        <div class="collapsable" [ngClass]="{'expanded': activeMenu === 'Roommates'}">
            <ul class="roommate-list">
                <li *ngFor="let roommate of roommates" class="roommate-item">
                    {{ roommate.name }}
                </li>
                <li *ngIf="!roommates.length" class="roommate-item no-items">
                    <p>There are no other users associated with this house yet.</p>
                    <p>Invite a roommate to join with your house's name and share code.</p>
                </li>
            </ul>
            <div class="share-code">
                <strong>+ Share Code: </strong>icecream
            </div>
        </div>

        <!-- Settings -->
        <div class="menu-item" [ngClass]="{'active': activeMenu === 'Settings'}" (click)="selectMenu('Settings')">
            Settings
        </div>

        <!-- Sign Out -->
        <div class="menu-item" [ngClass]="{'active': activeMenu === 'Sign Out'}" (click)="signOut()">
            Sign Out
        </div>

    </div>

</ion-content>