.page-side-menu {
    background: linear-gradient(to bottom right, #2b618c, #3a85bf, #1bbcb1);

    .header {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        .user-name {
            color: $white;
            font-size: 2rem;
            text-align: center;
        }
    }

    .side-menu-content {
        height: 100%;
        
        .options-list {
            width: 100%;

            .list-item {
                color: #eee;
                height: 5rem;
                display: flex;
                align-items: center;
                padding-left: 32px;

                &.menu-active {
                    font-weight: bold;
                    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.15) 100%);
                }
            }
        }
    }

}
